body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridholder {
    display: grid;
}

svg {
    height: 25px;
    width: 25px;
    /* border: 1px solid black; */
    transition: .5s;
}

line {
    stroke: black;
    stroke-width: 5px;
    stroke-linecap: round;
}