body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridholder {
    display: grid;
}

svg {
    height: 40px;
    width: 40px;
    transition: .25s;
}

svg:focus {
    outline: 0px;
}

rect {
    stroke: white;
    stroke-width: 2px;
    fill: black;
    transition: .25s;
}

path {
    transition: .25s;
}

.pathfill {
    fill: black;
}

.pathstroke {
    stroke: deepskyblue;
    stroke-width: 4px;
    fill: transparent;
}

.lock {
    fill: darkorchid;
}

.highlighted {
    fill: lime;
}

.complete {
    fill: white;
    filter: drop-shadow(0 0 10px white);
}

.blocked, .loop {
    animation: warning .25s ease-in-out 0s infinite alternate;
}

@keyframes warning {
    from {
        fill: maroon;
    }
    to {
        fill: crimson;
    }
    
}