body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridholder {
    display: grid;
}

svg {
    height: 40px;
    width: 40px;
    transition: .25s;
}

svg:focus {
    outline: 0px;
}

rect {
    stroke: black;
    stroke-width: 2px;
    fill: darkgrey;
    transition: .25s;
}

path {
    transition: .25s;
}

.pathfill {
    fill: white;
}

.pathstroke {
    stroke: rebeccapurple;
    stroke-width: 4px;
    fill: transparent;
}

.lock {
    fill: dimgrey;
}

.blocked, .loop {
    fill: palevioletred;
}

.complete {
    fill: deepskyblue;
}

.highlighted {
    fill: lightgreen;
}